@font-face {
    font-family: "Lato";
    src: url("/Fonts/Lato/Lato-Regular.ttf");
    font-weight: normal/bold/inherit;
    font-style: normal/inherit/italic/oblique;
}
@font-face {
    font-family: "Brushy";
    src: url("/Fonts/Brushy/Brushy_Cre.ttf");
    font-weight: normal/bold/inherit;
    font-style: normal/inherit/italic/oblique;
}
body {
    background-color: #F3E9F1;
    font-family: Lato, "Arial Black", Arial, Verdana, sans-serif;
    margin: auto;
}
/* Navigation */
#navbarNav {
    justify-content: flex-end;
    padding-top: 10px;
    font-weight: bold;
}
#logo img {
    width: 200px;
    height: 85px;
}
.navbar-nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.cart {
    display: flex;
}
.fa-shopping-basket {
    padding-top: 12px;
    margin-right: 5px;
}
.fa-envelope {
    padding-right: 5px;
}
#contact {
    color: red;
}
/* Carrousel */
.row h1 {
    width: 100%;
    font-size: 2em;
    font-family: Brushy;
    margin-top: 50px;
    margin-bottom: 50px;
}
#carouselExampleIndicators {
    margin: auto;
}
#carouselExampleIndicators,.carousel-item  {
    height: 400px;
    width: 600px; 
}  
.carousel-item img {
    background-size: cover;
}
.row p {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    color: #3f4142;
    font-weight: bold;
}
/* Product Cards */
.card-title {
    font-family: Brushy;
}
/* Teddies Color Options*/
.menu {
    vertical-align: top;
    display: inline-block;
    margin: 10px ;   
}
.menu-item {
    background-color: #FEFEFE;
    width: 200px;
    height: 40px;
    margin: 0;
    border-radius: 3px;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.06);
}
.color-row  {
    margin: 0;
    padding:0;
    max-width: 220px;
}
.color-circle {
    max-width: 220px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px 50px 50px 50px;
}
/*Product page*/
/*panel*/
.panel {
    border: none;
    box-shadow: none;
}
.panel-heading {
    border-color:#eff2f7 ;
    font-size: 16px;
    font-weight: 300;
}
.panel-title {
    color: #2A3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

/*product list*/
.product-list img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.product-list .pro-img-box {
    position: relative;
}
.pro-img-details {
    margin-left: -15px;
}
.pro-img-details img {
    width: 100%;
}
.pro-d-title {
    font-size: 25px;
    margin-top: 0;
}

/* Shopping cart */
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-row {
    display: flex;
}
.cart-item {
    width: 45%;
}
.cart-header {
    font-size: 20px;
}
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.cart-quantity {
    width: 35%;
}
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: #CC4C4C;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-row:last-child {
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column {
    border: none;
}




