@font-face {
    font-family: "Lato";
    src: url("/Fonts/Lato/Lato-Regular.ttf");
    font-weight: normal/bold/inherit;
    font-style: normal/inherit/italic/oblique;
}
@font-face {
    font-family: "Brushy";
    src: url("/Fonts/Brushy/Brushy_Cre.ttf");
    font-weight: normal/bold/inherit;
    font-style: normal/inherit/italic/oblique;
}
body {
    background-color: #F3E9F1;
    font-family: Lato, "Arial Black", Arial, Verdana, sans-serif;
}
/* Navigation */
#navbarNav {
    justify-content: flex-end;
    padding-top: 10px;
    font-weight: bold;
}
#logo img {
    width: 200px;
    height: 85px;
}
.navbar-nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.cart {
    display: flex;
}
.fa-shopping-basket {
    padding-top: 12px;
    margin-right: 5px;
    color: #8F5BFE;
}
/* Carrousel */
.row h1 {
    width: 100%;
    font-size: 2em;
    font-family: Brushy;
    margin-top: 50px;
    margin-bottom: 50px;
}
#carouselExampleIndicators {
    margin: auto;
}
#carouselExampleIndicators,.carousel-item  {
    height: 400px;
    width: 600px; 
}  
.carousel-item img {
    background-size: cover;
}
.row p {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    color: #3f4142;
    font-weight: bold;
}
